.ipt{
    margin: 10px 0px 10px 0px;
}
#main_table{
    margin: 10px;
}
.topbar{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding:10px;
    border-bottom: 1px double #000;
}
.icn{
    width: 20px !important;
}